To randomly produce a section in each facies in the test set.

In [1]:
import numpy as np 
import pandas as pd
from split import my_train_test_split
path = '/home/users/aslee/WASA_faciesXRF/'

In [2]:
data_df = pd.read_csv('{}data/XRF_ML_cr.csv'.format(path))
y = data_df['facies_merge_2'].values
groups = data_df['core_section'].values

train_idx, test_idx = my_train_test_split(y, groups)

In [3]:
test_df = pd.DataFrame({'y': y[test_idx], 'section': groups[test_idx]})
test_df

       y section
0      1   N12-2
1      1   N12-2
2      1   N12-2
3      1   N12-2
4      1   N12-2
...   ..     ...
22482  6    W5-1
22483  6    W5-1
22484  6    W5-1
22485  6    W5-1
22486  6    W5-1

[22487 rows x 2 columns]

In [4]:
facies = ['shoreface', 'channel', 'beach-foreshore', 'sand flat', 'mud flat',
       'lagoon', 'peat', 'soil', 'eolian/fluvial (W)',
       'shallow marine', 'moraine', 'eolian/fluvial']

Facies = []
for fa in facies:
    Facies.append(fa.capitalize())

Facies

['Shoreface',
 'Channel',
 'Beach-foreshore',
 'Sand flat',
 'Mud flat',
 'Lagoon',
 'Peat',
 'Soil',
 'Eolian/fluvial (w)',
 'Shallow marine',
 'Moraine',
 'Eolian/fluvial']

In [6]:
from numpy.random import default_rng
rng = default_rng(24)

section_list = []
facies_list = []

for label in test_df.y.unique():
    section_list.append(
        rng.choice(test_df.loc[test_df.y == label, 'section'])
    )
    facies_list.append(Facies[label])
    
select_df = pd.DataFrame({'facies': facies_list, 'section': section_list})

In [7]:
select_df

                facies  section
0              Channel    N44-2
1       Shallow marine    N85-1
2              Moraine    N72-3
3       Eolian/fluvial   N24B-2
4               Lagoon    N78-4
5                 Peat    N78-4
6                 Soil    N23-4
7   Eolian/fluvial (w)  VVC16-2
8            Sand flat    N43-3
9             Mud flat    N52-3
10           Shoreface    N84-4
11     Beach-foreshore  VVC19-3

In [8]:
select_df.to_csv('results/OneSectionInEachFaice_testset.csv')